.adList{@extend %marginSet1;margin-bottom:40px;background: #fff;border-radius: 6px;padding:25px 10px;line-height: 1.5;
  h3{margin: 1.5em 0 1em; font-size:1.4em;padding: 0 0 .3em;border-bottom: 2px solid $border-color-light;}
  p:first-child{margin-top: 0;}
  ul{margin: 0 0 0 2em;padding: 0; list-style: none;}
  li{border-bottom: 1px solid $border-color-pale;padding-bottom: .15em;padding: 0 0 .15em 20px;position: relative;
    &:before{content: ''; position: absolute; left: 2px;top:.55em;width: 10px; height: 5px; background: $hiLight2;}
    &+li{margin-top: .9em;}

  }
  .trigPop{display: inline-block;cursor: pointer;border-bottom: 1px solid $border-color-pale; color: $font-a-color;
    &:hover{color: $font-ahover-color; border-bottom-color: $font-ahover-color;}
  }
}


.adOnMag{@extend %marginSet1;
  ul, ol, li{list-style: none; margin: 0;padding: 0;}
  &>ul>li{padding:25px 10px 15px; margin-bottom: 12px;background: #fff;border-radius: 6px;}
  li{
    .dt , .dd , time{display: inline-block;}
    .dt{color: $font-color-lighter;}
  }
  .head{ display: flex;justify-content: space-between; line-height: 1.3;border-bottom: 2px solid $border-color-light; margin-bottom: 10px;padding-bottom: .3em;
    li{ 
      &:first-child{margin-right: 1.5em;}
      .dd{font-size: 1.5em;}
    }
  }
  h3{margin: 0; font-size: 1.4em; flex:1 1 auto; line-height: 1.7;}
  .action{ display: flex;justify-content: flex-end; margin: 0 0 5px;
    label{ flex:0 0 auto;margin: 0;}
    button{flex:0 0 auto; margin-left: 1em; background-color: $hiLight2;
      &:hover{box-shadow: $hiLight2 0 0 0 2px;}
    }
  }
  // .caption{ margin: 4px 0;display: flex; justify-content: space-between; align-items: center;;
  //   h3{margin: 0; font-size: 1.4em; flex:1 1 auto; line-height: 1.7;}
  //   label{ flex:0 0 auto;}
  //   button{flex:0 0 auto; margin-left: 1em; }
  // }


    // 20210325 --------------------------------------------------------
    .adDetail{ overflow: hidden; position: relative;border: 1px solid $border-color-pale;
    line-height: 1.4;border: 1px solid $border-color-pale;
    &::before{content: ''; position: absolute;top: 0; bottom: 0; right: 40%; width: 1px; background-color: $border-color-pale;}
    li{ border-bottom: 1px solid $border-color-pale;padding:5px 0;margin:0;
      float: left; width: calc(60% - 20px); width: 60%;
      display: flex;

      .dt, .dd{height: 2.4em;line-height: 2.4em;white-space: nowrap;}
      .dt{margin-left: 10px;}
      .dd{ flex: 1 1 auto; margin-right: 10px; text-overflow: ellipsis; overflow: hidden; }
      &>select, &>input{ flex: 1 1 auto; margin:0 10px 0 0; }
      &:first-child{
        &>select{ flex: 0 0 auto;}
      }
      &:nth-child(2), &:nth-child(3){
        &>select{max-width: calc(100% - 6.5em - 28px);}
      }

      &:nth-last-child(2){border-bottom: none;}
      &:last-child{border-bottom: none;float: none; display: inline-block; width: 40%;}
      &.image{min-height: 200px;
        .dt{margin-right: -8px;}
        input[type="file"]{width: 12em; height: 2.2em;}
        img{width: 150px; vertical-align: top;}
        .icon_i{margin-left: 5px;
          &:hover{width: 5em;}
        }
      }

      .thumb{ margin: 5px 0 8px 8px; display: inline-block; vertical-align: top; 
        .placehoder{ line-height: 1.8em; height: 1.8em;}
        // .filename{margin: 7px 10px 5px 0; word-break: break-all;} 20210326 removed
        a{float: left;border: none; 
          &:hover img{ @extend %shadowNormal;}
        }
        img{display:block;width: 124px;margin:0 5px 8px 0; border: 1px solid #fff; transition: .2s;}
        button{ margin-bottom: 5px; margin-right: 1px;}
        .icon_i{height: 28px; width: 6.5em;padding: 0; margin: 0 0 3px;font-size: 14px; background-color: transparent; 
          &::before{background-color:$bg-color; width:24px; height:24px; left: 2px;}
          &::after{ white-space: nowrap;overflow: hidden;height:28px; line-height: 28px; width: 0; margin: 0; padding: 0 0 0 5px;  transition:width .2s, padding-left .4s;}
          &:hover{width: 6.5em;
            &::after{width: 5.2em;background:$font-ahover-color; padding-left: 25px;}
            &::before{background-color: transparent;}
          }
        }
      }
    }
  }

  .closingInfo{padding: .5em 0 1em; line-height: 1.5; clear: both;
    display: flex; 
    li{flex: 0 0 auto;margin: 0 0 0 1.5em; text-align: right; 
      &:first-child{flex: 1 1 auto; text-align: left; border: none; margin-left: 0;}
      &.expired{color: $hintColor1;}
    }

    &+.adDetail,  &+.action {margin-top: 1.2em;}
  }
}


.classify + .adOnMag{margin-top: -16px;}

.sepHeader{@extend %marginSet1; margin-top: 3em; font-size: 1.7em;font-weight: bold; text-align: center;}

