.avatar{background-color: $logoYellow;display:inline-block;text-align: center;
  // &.default{font-size:13px;}
  &.a, &.A{background: #9f232d}
  &.b, &.B{background: #de3133}
  &.c, &.C{background: #cb5662}
  &.d, &.D{background: #f5798b}
  &.e, &.E{background: #9ebf3d}
  &.f, &.F{background: #3b8e60}
  &.g, &.G{background: #4e8539}
  &.h, &.H{background: #4fb0a4}
  &.i, &.I{background: #25948d}
  &.j, &.J{background: #14a0b9}
  &.k, &.K{background: #56c1dc}
  &.l, &.L{background: #256b9e}
  &.m, &.M{background: #529ccc}
  &.n, &.N{background: #ba4f86}
  &.O, &.o{background: #b649b1}
  &.P, &.p{background: #9d77d1}
  &.Q, &.q{background: #6a56b1}
  &.R, &.r{background: #718fdb}
  &.S, &.s{background: #4c60b3}
  &.T, &.t{background: #e95b1e}
  &.U, &.u{background: #ac5925}
  &.V, &.v{background: #dc760a}
  &.W, &.w{background: #c6c600}
  &.X, &.x{background: #a08220}
  &.Y, &.y{background: #5aa6e4}
  &.Z, &.z{background: #3a6485}

}