.wrapAll{overflow: hidden;max-width: 100%;}


.main{background: $bg-color-light;width: auto;margin: 49px 0 0;min-height:calc(100vh - 49px);position: relative;
  &>article h2{margin: 0;padding:1em 0;}
}

.pageHeading {position: relative;overflow: hidden;padding: 9px 20px;margin: 0 0 2vw;background:$btn-bg2;min-height: 29px;color: $hiLight1;
  h2{float: left;margin: 0 1em 0 0;padding: 0;font-size: 22px;line-height: 1.4;color: #fff;
    &:before{content: '';position: absolute;left: 0;top: 0;bottom: 0;width: 6px;background-color:$hiLight2}
  }
  ul.path{float: right;list-style: none;margin:3px 0 0;padding: 0;font-size: 13px;line-height:2;}
  li{display: inline-block;margin: 0 2px;
    a{color:#fff;text-decoration: none;border-width: 0}
    a:hover{border-width: 1px;border-color: $border-color-pale;}
    &:after{content: ' / ';}
    &:last-child:after{display: none}
  }
}

.sideBar{width: $sideBarWidth;margin-left:-($sideBarWidth);position: fixed;top:49px;
  box-shadow: 0 6px 12px rgba(0,0,0,.3);background:rgba(255,255,255,.95);
  overflow-x: hidden;overflow-y: auto;height:calc(100vh - 49px);z-index: 8800;
  &.hidden{box-shadow:none; overflow: visible;}
}
@media screen and (min-width:$wwMedium){
  .sideBar{width: $sideBarWidthMini;margin-left: 0;box-shadow: none;}
  .main{margin-left: $sideBarWidthMini;}
  .pageHeading{margin-bottom: 20px;}
}
@media screen and (min-width:$wwWide){
  .sideBar{width: $sideBarWidth; top: 80px; bottom: 0; height: auto;}
  .wrapAll{padding: 0;}
  .main{margin-left: $sideBarWidth;margin-top: 80px;min-height:calc(100vh - 80px);}
  .pageHeading h2{margin: 0;padding: 0;float: left;}
}




// footer
.webFooter{position: relative;margin: 30px 0 0; padding:30px 20px 20px;font-size: .86em;text-align: center;z-index: 99;line-height: 1.5;background: $bg-color-pale;}
.footLinks {margin:1em auto;list-style: none;margin:0;padding: 0;line-height: 1.3;}
.footLinks li{margin: 0 .5em .7em;padding: 0;display: inline-block;}
.footLinks li a{display: block;}
.webFooter p{margin: 1em auto 0;padding: 0;}
@media screen and (min-width:$wwMedium){
  .webFooter{margin: 100px 0 0;}
}
