// 2019 Account 綁定與檢查
.yourAccount, .linkYourAccount{@extend %marginSet1; @extend %paddingSet;border-radius:6px;box-shadow: 0 0 5px rgba(0,0,0,.3);line-height: 1.6;background: #fff;
  .alink {display: inline-block;margin:0 1em;vertical-align: middle;
    &>a{display: block;position: relative; height: 2.2em; line-height: 2.2em;text-decoration: none;padding: 0 14px;border:1px solid $font-ahover-color; color: $font-ahover-color; border-radius: 3px; transition: .2s;
      &:after{content: '';display: inline-block;width: 7px;height: 7px;border: 2px solid $font-ahover-color;border-left: none;border-bottom: none;transform: rotate(45deg);margin: 0 0 2px 4px;vertical-align: middle;line-height: 1.2em;transition: .1s linear;}
      &:hover{background:$font-ahover-color; color: #fff;
        &:after{border-color: #fff;}
      }
    }
  }
  h3{font-size: 1.2em;line-height: 1.3;font-weight: bold;margin: 0 0 .6em;padding: 0 0 .4em;border-bottom: 1px solid $border-color-pale;}
  p{margin: 1em 0 0;}
  .messengerHint{font-size: 1.2em; 
    &:first-child{margin-top: 0;}
    &:before{content: '';display: inline-block;width: 44px;height: 44px;vertical-align: middle;background: url(../images/logo_messenger.png) no-repeat 0 0;background-size: 100%;margin-right: 5px;;}
    &.done{color: #000}
    & + p{margin-left: 52px;margin-top:.5em;}
  }
}
.yourAccount{
  span {display: inline-block;}
  .label{color: #777;
    &:after{content: ':'}
  }
  .inputTextReadonly{font-size:1.15em;font-weight:bold;}
  h3{margin-bottom: 1em;}
}