$logoYellow:#f4bf00;
$font-color:#414b49;
$font-color-lighter:#8f9b9a;
$font-color-darker:#252929;
$font-a-color:#1c5a6f;
$font-ahover-color:#0098c4;
$head-font-color:#000;

$bg-color-pale: #f0f4f5;
// $bg-color-pale: #ecf2f0;
$bg-color-light:#e8e7dc;
$bg-color:#d3dedf;
$bg-color-dark:#909ea2;
$hover-bg-color:#faf9d6;
$bg-color-em:#fafaea;

$border-color-pale: #d7dfdd;
$border-color-light: #afbabb;
$border-color-dark:#778b8e;

$btn-bg1:#7d979e;
$btn-bg2:#436672;

$hiLight1: #ffe05f;
$hiLight2:#f82;

$hintColor1:#b63678;
$red:#d11;

// 訊息狀態
$msgStatus1:#ff91b6;//unread
$msgStatus2:#ffd933;//replied
$msgStatus3:#aafe20;//read
$msgStatus4:#414b49;//deleted